//reset
ul{
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
}
p{
  margin: 0;
}
//variable
$lh-3rem:1.3333;
$lh-24-big:1.5;
$lh-24-29:1.208;
$lh-24-small:1.1667;
$lh-1rem:1.1875;

$mb-2rem:2rem;
//custom mixin
@mixin logo{
    font-family: 'Raleway', sans-serif;
    font-size: $font-size-lg;
    font-weight: $font-weight-bold;
    line-height: 1.208;
    color: #121212;
  }
@mixin paragraph-title{
    font-family: 'Roboto', sans-serif;
    font-size: $font-size-lg;
    font-weight: $font-weight-bold;
    color: #121212;
    line-height: $lh-24-small;
  }
@mixin paragraph-content{
    font-family: 'Roboto', sans-serif;
    font-size: $font-size-base;
    font-weight: $font-weight-normal;
    color: #0000009A;
  }
@mixin paragraph-link{
    font-family: 'Roboto', sans-serif;
    font-size: $font-size-base;
    font-weight: $font-weight-bold;
    color: #0E8A00;
    line-height: $lh-1rem;
  }
@mixin button0E8A00{
      background-color: #0E8A00;
      color: #fff;
      font-family: 'Roboto', sans-serif;
      font-size: $font-size-base;
      font-weight: $font-weight-bold;
      line-height: $lh-1rem;
      border: 4px solid #0E8A00;
  }
@mixin indeximg-mid {
      height: 400px;
      background-position: center;
      background-size: cover; 
  }
@mixin mid {
      display: flex;
      justify-content: center;
      align-items: center;
  }
@mixin smallwhite {
      font-family: 'Roboto', sans-serif;
      font-size: $font-size-sm;
      font-weight: $font-weight-normal;
      color: #fff;
      line-height: 1.14;
  
}