//header
.logo{
    @include logo;
}
.headeritem{
    color: #fff;
}
//footer 
//Subscribe
.Subscribe{
    background-image: url(../week6/footer.jpg);
    background-position: center;
    background-size: cover;
    height: 400px;
}
.Subscribe-content{
    font-family: 'Roboto', sans-serif;
    font-size: 3rem;
    font-weight: $font-weight-bold;
    color: #fff;
    line-height: $lh-3rem;
    margin-bottom: 3rem;
    padding: 0;
}
.Subscribe-email{
    margin-left: 0;
    padding: 0;
}
.Subscribe-email-input{
    border-radius: 4px 0 0 4px;
    width: 286px;
    height: 56px;
}
.btn-Subscribe{
    @include button0E8A00;
    width: 160px;
    height: 56px;
}
//brand copyright
.footer-brand{
    background-color: #121212;
    color: #ffffff;
    height: 93px;
    ul{
        padding: 0;
    }
}
.footerlogo{
    color: #fff;
}
.smallwhite{
    @include smallwhite;
}
.policy-mr{
    margin-right: 3rem;
}