//header
.logo{
    @include logo;
}
.headeritem{
    color: #fff;
}
.headeritem-show{
    color: #121212;
}
li{
    .mark-cus{
        color: $mark-color;   
    }
}
//footer 
//Subscribe
.Subscribe{
    background-image: url(../week6/footer.jpg);
    background-position: center;
    background-size: cover;
    height: 400px;
    @include pad(){
        height: 224px;
    }
}
.Subscribe-content{
    font-family: 'Roboto', sans-serif;
    font-size: 3rem;
    font-weight: $font-weight-bold;
    color: #fff;
    line-height: $lh-3rem;
    margin-bottom: 3rem;
    padding: 0;
    @include pad(){
        font-size: 2rem;
        line-height: 1.5;
        margin-bottom: 1.5rem;
        padding-left: 15px;
    }
}
.Subscribe-email{
    margin-left: 0;
    padding: 0;
    @include pad(){
        padding-left: 15px;
    }
}
.Subscribe-email-input{
    border-radius: 4px 0 0 4px;
    width: 286px;
    height: 56px;
    @include pad(){
        width: 211px;
    }
}
.btn-Subscribe{
    @include button0E8A00;
    width: 160px;
    height: 56px;
    @include pad(){
        width: 120px;
    }
}
//brand copyright
.footer-brand{
    background-color: #121212;
    color: #ffffff;
    height: 93px;
    ul{
        padding: 0;
    }
}
.footerlogo{
    color: #fff;
}
.smallwhite{
    @include smallwhite;
}
.policy-mr{
    margin-right: 3rem;
}
.copyrightpad{
    @include pad(){
        display: flex;
        flex-direction: column;
    }
}
.policypad{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}