.hamburger{
   @include none;
}
.padnone{
    @include pad(){
        display: none !important;
    }
}
.padmr24{
    @include pad(){
        margin-right: 1.5rem;
    }
}
.card-columns{
    @include pad(){
        column-count: 2;
    }
}